@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
  --dorado-metalico: #d4af37;
  --blanco-marfil: #f8f4e3;
  --gris-plomo: #2f2f2f;
  --azul-marino: #1c3d5a;
  --beige-champagne: #e0c097;
  --verde-esmeralda: #2e8b57;
    --morado: #bcadd8;
}
.backC{
    background-color: var(--gris-plomo);
}
.backS{
  background-color: var(--azul-marino);
}
.backQ{
  background-color: var(--morado);
}
.backQS{
  background-color: var(--blanco-marfil);
}
.Acerca{
  background-color: var(--verde-esmeralda);
}
.mainSection{
    flex-grow: 1;
}
.tama1{
    font-size: 4em;
}
.caption-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--dorado-metalico);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  .line {
    width: 500px;  
    border: none;
    border-top: 5px solid #D4AF37; 
    margin: 10px auto;  
    opacity: 1;
  }
  .date-label {
    cursor: pointer;
    color: #007bff; /* Color azul Bootstrap */
    text-decoration: underline; /* Subrayado para indicar que es clickeable */
    margin-bottom: 5px; /* Espacio entre el label y el input */
  }
  .line-lateral {
    height: 320px;  
    border: none;
    border-right: 5px solid #D4AF37; 
    margin-right: 20px;  
    opacity: 1;
  }
  .longi{
    width: 65%;
  }

/* Estilos FormLogin */

.texto-opcion {
  cursor: pointer;
}

p.texto-opcion:hover {
  color: aqua !important;
}

.btnLogin:hover {
  background-color: var(--azul-marino);
}

.bg-registro {
  background: var(--dorado-metalico);
}

.bg-login {
  background: var(--azul-marino);
}

.img-login {
  height: 100px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}
.titulo-login {
  font-family: playfair-display;
  color: var(--azul-marino);
  font-weight: bold;
}

.titulo-registro {
  font-family: playfair-display;
  color: var(--dorado-metalico);
  text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,   
        -1px 1px 0 #000,  
        1px 1px 0 #000;
}

@media (min-width: 992px) {
  .titulo-login {
    padding-top: 120px;
    font-family: playfair-display;
    color: var(--azul-marino);
     text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,   
        -1px 1px 0 #000,  
        1px 1px 0 #000;
  }
  .titulo-registro {
    padding-top: 120px;
    font-family: playfair-display;
    color: var(--dorado-metalico);
     text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,   
        -1px 1px 0 #000,  
        1px 1px 0 #000;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .titulo-registro{
        margin: auto;
    }
    .sectionLogin{
        padding: 40px;
    }
}