:root {
    --dorado-metalico: #D4AF37;
    --blanco-marfil: #F8F4E3;
    --gris-plomo: #2F2F2F;
    --azul-marino: #1C3D5A;
    --beige-champagne: #E0C097;
    --verde-esmeralda: #2E8B57;
}

/* Estilos FormLogin */

.texto-opcion {
    cursor: pointer;
}

p.texto-opcion:hover{
    color: aqua !important;
}

.btnLogin:hover {
    background-color: var(--azul-marino) 
}

.bg-registro{
    background: var(--dorado-metalico);
}

.bg-login{
    background: var(--azul-marino);   
}

.bg-user-login{
    background: var(--blanco-marfil);
    opacity: 80%;
}

.img-login{
    height: 100px; 
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8));     
}
.titulo-login{
font-family: playfair-display;
}

@media (min-width: 992px) {
  .titulo-login{
    display: block;
    align-items: center;
    font-family: playfair-display;
  }
}